section {
    padding: 120px 0;
  }
  .container {
    width: 100%;
  }
  .bg-light-grey {
     background: color d 1e 8e 2;
  }
  .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
  }
  h2 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  h5 {
    margin-bottom: 0px;
  }
  p { 
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
  }
  .member-container {
    position: relative;
    margin: 10px 0;
  }
  .member-details {
    position: absolute;
    color: #ffffff;
    top: 220px;
    left: 95px;
  }
  .member-details span {
    font-size: 14px;
  }
  .member-details i {
    padding: 0 5px;
  }
  a i {
    font-size: 22px;
    color: #ffffff;
  }
  a i:hover{
    color: #b86d2b;
  }
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .parrafo {
    color: black;
    font-size: 17px;
    display: block;
  }