/* NAVBAR */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navegador {
  background: #264445 !important;
}
.navegador a {
  color: #fff !important;
}
.navegador a:hover {
  color: #e09b5e !important;
  transition: all 0.5s ease-in-out;
}
.boton {
  border: none !important;
}
.footerLinks {
  background: #264445 !important;
  color: #fff !important;
}
.footerCopy {
  background: #116466 !important;
  color: #fff;
}
.footerCopy a {
  color: #e09b5e;
}

div ul li a {
  color: #e09b5e;
}
div ul li a:hover {
  color: #b86d2b;
}
section {
  padding: 120px 0;
  height: 1600px;
}
.container {
  width: 100%;
}
.bg-light-grey {
   background: color d 1e 8e 2;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-center {
  max-width: 800px;
  margin: 0 auto 60px auto;
  text-align: center;
}
h2 {
  font-size: 48px;
  margin-bottom: 30px;
}
h5 {
  margin-bottom: 0px;
}
p { 
  font-size: 18px;
  color: #999999;
  line-height: 1.8;
  margin-bottom: 0;
}
.member-container {
  position: relative;
  margin: 10px 0;
}
.member-details {
  position: absolute;
  color: #ffffff;
  bottom: 0px;
  left: 20px;
}
.member-details span {
  font-size: 14px;
}
.member-details i {
  padding: 0 5px;
}
a i {
  font-size: 22px;
  color: #ffffff;
}
a i:hover{
  color: #b86d2b;
}
img {
  width: 300px;
  height: 300px;
}
.parrafo {
  color: black;
  font-size: 17px;
  display: block;
  position: absolute;
}