/* NAVBAR */
.navegador {
  background: #264445 !important;
}
.navegador a {
  color: #fff !important;
}
.navegador a:hover {
  color: #e09b5e !important;
  transition: all 0.5s ease-in-out;
}
.boton {
  border: none !important;
}
/* MAIN */
.intro {
  background: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)),
    url(img/Coachellah.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;
}
.texto-intro {
  margin: auto;
}
.texto-intro h2 {
  color: #fff;
  text-align: center;
}
.texto-intro h2 a {
  color: #b86d2b;
}
/* Footer */
.footerLinks {
  background: #264445 !important;
  color: #fff !important;
}
.footerCopy {
  background: #116466 !important;
  color: #fff;
}
.footerCopy a {
  color: #e09b5e;
}

div ul li a {
  color: #e09b5e;
}
div ul li a:hover {
  color: #b86d2b;
}


/*style below the slider*/


main{
  background-color: #d1e8e2;
}

.contentColor{
  padding:0;
}
.contentImg{
  padding:0px;
  display:block;
}
.textColor{
  color:#2c3531;
}
.h2Color{
  color:#116466;
  text-decoration: solid;
  
}
.previousEvent{
  color:#116466;
  text-decoration: solid;
  font-size: 50px;
  
}