
.navegador {
    background-color: #F64C72!important; 
  }
  .navegador a {
    color:black !important;
  }
  .navegador a:hover {
    color: #e09b5e !important;
    transition: all 0.5s ease-in-out;
  }
  .boton {
    border: none !important;
  }

body{
    background-color:#242582;
    
    
}


h1{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    color:#264445;
}
form{

    margin: 40px;
    font-size: 15px;
    height: 600px;
    border-color:  #116466;
}


.footerLinks {
    background: #264445 !important;
    color: #fff !important;
  }
  .footerCopy {
    background: #116466 !important;
    color: #fff;
  }
  .footerCopy a {
    color: #e09b5e;
  }
  
  div ul li a {
    color: #e09b5e;
  }
  div ul li a:hover {
    color: #b86d2b;
  }













